<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
        <div class="container">
        <h2>ตั้งกระทู้</h2>
        <form action="{{ url_for('inserto') }}" method="post"> <!--เปิด url ของ function inserto-->
         <div class="form-group">
           <label for="fname">ชื่อกระทู้</label>
           <input type="text" class="form-control"  name="name">
         </div>
         <div class="form-group">
           <label for="fname">คำถาม</label>
           <input type="text" class="form-control"  name="texts">
         </div>
         <a class="btn btn-success" href="/">กลับหน้าแรก</a>
         <button type="submit" class="pull-right btn btn-primary">ส่ง</button>
        </form>
        </div>

  </body>
</html>
